<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{(cardLayout | async)?.columns }}" rowHeight="200px">

    <!--Mini Cards-->
    <mat-grid-tile *ngFor="let mc of miniCardData" [colspan]="( cardLayout | async )?.miniCard?.cols" [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <app-mini-card [icon]="mc.icon" [userName]="mc.userName" [title]="mc.title" [value]="mc.value" [color]="mc.color">
      </app-mini-card>
    </mat-grid-tile>

    <!--Charts-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Cantidad de Arriendos Por Empresa">
        <app-company-pie-chart></app-company-pie-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Arriendos Mensuales Por Cliente">
        <app-client-bar-chart></app-client-bar-chart>
      </app-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>